@page "/bookings"

@using HotelBookingSystem.Services
@inject MemoryStore Store

<h3>Bookings</h3>

<table class="table">
    <thead>
    <tr>
        <th>Room</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Special Request</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var b in Store.Bookings)
    {
        <tr>
            <td>@b.RoomType</td>
            <td>@b.CheckIn</td>
            <td>@b.CheckOut</td>
            <td>@b.SpecialRequest</td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-primary" href="/newBooking">
    Add Booking
</a>

@code {
    
}