@page "/chat"
@rendermode InteractiveServer

@using HotelBookingSystem.Services
@inject PredictionEngine Engine

<h3>ChatBot</h3>

<InputText @bind-Value="question"></InputText>
<button class="btn btn-primary" @onclick="AskBot">ASk</button>

<p><strong>Bot:</strong> @response</p>

@code {
    string question = string.Empty;
    string response = string.Empty;

    void AskBot()
    {
        Console.WriteLine("Called");
        if (question.ToLower().Contains("price") && question.Contains("July", StringComparison.OrdinalIgnoreCase))
        {
            response = $"Predicted average price for July: {Engine.PredictAveragePrice(7):C}";
        }
        else
        {
            response = "Sorry, I can only answer simple price or availability questions for now.";
        }
    }
}